body {
    text-align: center;
}

#searchbox {
    width: 400px;
    height: 30px;
    margin: 10px 0px;
}

.container {
    width: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}

.thumbnail {
    padding: 25px;
    height: 175px;
    width: 175px;
}

